<main>
  <section class="todo-list" *ngFor="let todo of todos">
    <div class="todo-card">
      <input
        type="checkbox"
        [(ngModel)]="todo.completed"
        (change)="checkTodo(todo.id)"
      />

      <p class="" [ngClass]="{ completed: todo.completed }">
        {{ todo.title }}
      </p>

      <button class="todo-remove" type="button">
        <span class="material-symbols-outlined" (click)="deleteTodo(todo.id)">
          delete
        </span>
      </button>
    </div>
  </section>

  <button routerLink="/add" class="add-button" type="button">+</button>
</main>
