.back {
  background-color: rgb(213, 213, 213);
  border-style: none;
  padding: 10px 5px;
}

.back:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  width: 500px;
}

.todo-form {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.todo-form input {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.todo-form input:focus {
  outline: solid rgb(43, 131, 231);
}

.todo-form-actions {
  display: flex;
  justify-content: space-between;
}

.todo-form-actions button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.todo-form .cancel-button:hover {
  color: rgb(231, 43, 93);
}

.add:hover {
  color: rgb(43, 131, 231);
}
